.container {
  /* ... your existing styles ... */

  .certifications-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .certifications-column {
      flex: 1;
    }
  }

  .download-button-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width: 768px) {
      align-items: center;
      margin-top: 20px;
    }

    svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.certifications-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.certifications-column {
  flex: 1;
  padding: 20px;
  color: white;
}

.certifications-text {
  font-size: 16px;
  line-height: 1.5;

  a {
    color: #ffd700;
    text-decoration: underline;

    &:visited {
      color: #ffd700; /* Use the same yellow color for visited links */
    }
  }
}

.certification-link {
  color: #ffd700;
  text-decoration: underline;
}

.download-link {
  display: inline-block;
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}